{% extends 'JobSchd/base.html' %}

{% block body %}
    {% if object_list %}
        <div class="container">
        {% if user.is_authenticated %}
        <h3>Welcome! {{ user.first_name }} {{ user.last_name }}</h3>
        <ul>
        {% if user.jobfinal_set.all.count > 0 %}
                  <h4>Here are all your Jobs</h4>
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th>Job Name</th>
                        <th>Project Name</th>
                        <th>Job Status </th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for job in user.jobfinal_set.all %}
                      <tr>
                            <td>{{ job.job_name }}</td>
                            <td>{{ job.project_name }}</td>
                            <td>{{ job.job_status }}</td>
                      </tr>
                        {% endfor %}
                    </tbody>
                  </table>
            <h5>Click  <a href="{% url 'JobSchd:user_details' user.id %}">here</a> to see Job Status and make changes</h5>
        {% else %}
            It seems that there are no job in your account yet,<a href="{% url 'JobSchd:jobform_final'%}">Click here</a> to Create new Job
        {% endif %}
        </ul>
        {% endif %}
    {% else %}
        <h4>You are not Logged In, Please  <a href="{% url 'JobSchd:auth_login' %}"> Login </a> to see your Jobs</h4>
    {% endif %}
    </div>
{% endblock %}