        <form id="varassoc">
              <div class="row flex-just-center cells5">
                <div class="cell size3">
                  <h4>e. Select Variable Associations
                  </h4>
                </div>
              </div>

              <div class="row flex-just-center cells5">
                <div class="cell size3">
                  <p>Select Household ID Variable
                  </p>
                  <div class="input-control select">
                    <select class="varopts" name="hhldvar">

                    </select>
                  </div>
                </div>
                <div class="cell size3">
                  <p>Select Person ID Variable
                  </p>
                  <div class="input-control select">
                    <select class="varopts" name="personvar">

                    </select>
                  </div>
                </div>
                <div class="cell size3">
                  <p>Select {{ aggregate }} Variable
                  </p>
                  <div class="input-control select">
                    <select class="varopts" name="regionvar">

                    </select>
                  </div>
                </div>
              </div>
              <div class="row flex-just-center cells3">
                <div class="cell size3">
                  <p>Select {{ disaggregate }} Variable
                  </p>
                  <div class="input-control select">
                    <select class="varopts" name="geovar">

                    </select>
                  </div>
                </div>
                <div class="cell size3">
                  <p>Select Sample {{ disaggregate }} Variable
                  </p>
                  <div class="input-control select">
                    <select class="varopts" name="samplegeovar">

                    </select>
                  </div>
                </div>
              </div>
			  <br>
			  </form>
