            <div class="flex-grid">
			<form id="tabulations">
              <div class="row">
                <div class="cell size12" style="text-align: center;">
                  <h4>Click +/- to add new Tabulation
                  </h4>
                </div>
              </div>
			  <div class="row">
                <div class="cell size12" style="text-align: center">
				<button id="tab-adder" onclick="addSingleTab()" class="shortcut-button bg-cyan bg-active-darkBlue fg-white">
					<span class="icon mif-plus"></span>
					<span class="title">Add Single</span>
				</button>
				<button id="tab-adder" onclick="addTab()" class="shortcut-button bg-cyan bg-active-darkBlue fg-white">
					<span class="icon mif-plus"></span>
					<span class="title">Add Multiway</span>
				</button>
				<button onclick="removeTab()" class="shortcut-button bg-cyan bg-active-darkBlue fg-white">
					<span class="icon mif-minus"></span>
					<span class="title">Remove</span>
				</button>
				</div>
			  </div>
			  <br id="tab-add"></br>
			  </form>
			</div>