		  <form id="finalpg">
			<div style="text-align:center">
              <div class="input-control modern text">
                <input type="text" name="regionsummaryname">
                <span class="label">{{aggregate}} Summary Name
                </span>
                <span class="informer">e.g., TAZ_Summary
                </span>
                <span class="placeholder">{{aggregate}} Summary Name
                </span>
              </div>
              <div class="input-control modern text">
                <input type="text" name="geosummaryname">
                <span class="label">{{disaggregate}} Summary Name
                </span>
                <span class="informer">e.g., County_Summary
                </span>
                <span class="placeholder">{{disaggregate}} Summary Name
                </span>
              </div>
			</div>
			<div style="text-align:center">
			<button class="shortcut-button bg-green bg-active-cyan fg-white" style="width: 30%">
			<span class="icon mif-magic-wand"></span>
			<span class="title">Run Synthesis</span>
			</button>
			</div>
		</form>